@import '~antd/dist/antd.css';
.about {
  display: flex;
  height: 50%;
  padding: 40px;
}
.about-paragraph {
  color: white;
  font-size: 1.2rem;
}

.pic-me {
  max-width: 60%;
  height: auto;
  padding: 20px;
}
.img {
  margin:20px;
}
.mail-form {
  display: flex;
  flex-flow: column;
  align-content: center;
  max-width: 72%;
  padding-left:400px;

}
.mail-form input  {
  display: flex;
  flex-flow: column;
  max-width: 70%;
  margin: 20px;
  font-size: 1.5rem;

}
.contact-header {
  text-align: center;
  padding: 40px
}
.intro {
padding: 20px;
font-size: 2rem;
text-align: center;
color: white;

}

.qr {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.github, .linkedin, .instagram, .facebook {
  color: black;
}
.linkedin:hover {
  color: rgb(30, 57, 108);
}
.instagram:hover {
  color: rgb(255, 253, 38);
}
.github:hover {
  color: purple;
}
.facebook:hover {
  color: rgb(69, 138, 255);
}
