@import '~antd/dist/antd.css';
.about {
  display: flex;
  height: 50%;
  padding: 40px;
}
.about-paragraph {
  background-color: rgba(203, 175, 29, 0.22);
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  padding: 20px;
}
.about-paragraph:hover {
  transition: .5s;
  background-color: rgba(203, 118, 29, 0.92);
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  padding: 20px;
}
.academy-badge {
  display: flex;
  justify-content: center;
}

.nav{
  background-color: rgb(169, 207, 51);
}
.project-link {
  color: rgb(217, 109, 30);
}
.project-link:hover {
  color: brown;
}

.pic-me {
  max-width: 60%;
  height: auto;
  padding: 20px;
}
.img {
  margin:20px;
}
.mail-form {
  display: flex;
  flex-flow: column;
  align-content: center;
  max-width: 72%;
  padding-left:400px;

}
.mail-form input  {
  display: flex;
  flex-flow: column;
  max-width: 70%;
  margin: 20px;
  font-size: 1.5rem;

}
.contact-header {
  text-align: center;
  padding: 40px
}
.intro {
padding-bottom: 20px;
font-size: 2rem;
text-align: center;
color: white;

}
.project-title {
  font-size: 2rem;
  color: rgb(21, 46, 185)!important;
}
.project-title:hover {
  font-size: 2.2rem;
  color: rgb(44, 217, 247)!important;
}

.qr {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-size: 2rem
}

.github, .linkedin, .instagram, .facebook {
  color: black;
  font-size: 4rem;
  
}

.godzilla {
  display: flex;
  justify-content: center;
}
.linkedin:hover {
  color: rgb(30, 57, 108);
}
.instagram:hover {
  color: rgb(255, 253, 38);
}
.github:hover {
  color: purple;
}
.facebook:hover {
  color: rgb(69, 138, 255);
}
