@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Mukta:400,700&display=swap');

/* HSL */
$color1: hsla(97%, 6%, 82%, 1);
$color2: hsla(133%, 22%, 66%, 1);
$color3: hsla(165%, 32%, 47%, 1);
$color4: hsla(186%, 35%, 32%, 1);
$color5: hsla(201%, 33%, 27%, 1);

/* RGB */
$color1: rgba(202, 210, 197, 1);
$color2: rgba(132, 169, 140, 1);
$color2a: rgba(132, 169, 140, .4);
$color3: rgba(82, 121, 111, 1);
$color4: rgba(53, 79, 82, 1);
$color5: rgba(47, 62, 70, 1);

/* HEX */
$color1: #cad2c5ff;
$color2: #84a98cff;
$color3: #52796fff;
$color4: #354f52ff;
$color5: #2f3e46ff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-right: linear-gradient(90deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-bottom: linear-gradient(180deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-left: linear-gradient(270deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-top-right: linear-gradient(45deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-bottom-right: linear-gradient(135deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-top-left: linear-gradient(225deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-bottom-left: linear-gradient(315deg, #cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);
$gradient-radial: radial-gradient(#cad2c5ff, #84a98cff, #52796fff, #354f52ff, #2f3e46ff);

li.ant-menu-item-selected{
  background-color: $color3!important;
}
.top-navbar{
  background-color: $color5;
  display: flex;
  justify-content: inherit;
}
.home{
  background: url('https://cdn.superstock.com/5514/Download/5514-111950247.jpg')60% 32%;
  background-size: cover;
    min-height: 70vh;
 
}
.heading{
 
  color:white;
  font-size: 55px;
  font-weight: 700;
  line-height: 3;
  padding: 4% 30%;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  color:$color1;
  height: 100px;
  background-color: $color5;
  position: absolute;
  bottom: 0;
  width: 100%;

}
.footer-links{
  padding: 20px ;
  position: relative;
  top: 33%;
}
.footer-text{
  color: black;
  margin-top: 35px;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 30px 10px;
  font-size: 30px;
}
.main-container{
  background: url('https://cdn.superstock.com/5514/Download/5514-111950247.jpg')60% 32%;
  background-size: cover;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}
.about {
  background: url('https://cdn.superstock.com/1815/Download/1815-111726132.jpg')60% 32%;
  background-size: cover;
  display: flex;
  height: 50%;
  padding: 40px;
  background-color: $color2;
}
.about-paragraph {
  background-color: $color2a;
  border-radius: 30px;
  color: rgb(7, 0, 0);
  font-size: 1.2rem;
  padding: 20px;
}
.about-paragraph:hover {
  transition: .5s;
  background-color: $color4;
  color: white;
}
.academy-badge {
  display: flex;
  justify-content: center;
  float:left
}
.hub-cert{
  display:flex;
}

.intro {
  display: flex;
  flex-direction: column;
}
.icon{
  padding-left: 20em;
}


.nav-links{
font-size: 1.4em;
}
.project-link {
  padding: 10px 20px;
  border-radius: 5px;

  color: $color5;
  margin: auto 10px;
  background-color: $color2;
}
.project-link:hover {
  transition: 1s;
  color: $color5;
  background-color: $color1;
}

.pic-me {
  display:flex;
  flex-wrap: wrap;
  max-width: 60%;
  height: auto;
  padding: 20px;
}
.img {
  margin:20px;
}
.sign-in, .email-title{
  color: $color1;
}
.mail-form {

  display: flex;
  flex-flow: column;
  align-content: center;
  max-width: 72%;
  padding-left:400px;

}
.mail-form input  {
  display: flex;
  flex-flow: column;
  max-width: 70%;
  margin: 20px;
  font-size: 1.5rem;

}
.contact-header {
  text-align: center;
  padding: 40px
}
.intro {
padding-bottom: 20px;
font-size: 2rem;
text-align: center;
color: white;

}
.project-title {
  font-size: 2rem;
  color: $color4;
}
.project-title:hover {
  font-size: 2.2rem;
  color: $color3!important;
}

.qr {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px 80px 20px;
  font-size: 2rem
}

.github, .linkedin, .instagram, .facebook {
  color: black;
  font-size: 1.4rem;
  
}

.godzilla {
  display: flex;
  justify-content: center;
}
.linkedin:hover {
  transition: .5s;
  color: rgb(30, 57, 108)!important;
}
.instagram:hover {
  transition: .5s;
  color: rgb(255, 253, 38)!important;
}
.github:hover {
  transition: .5s;
  color: purple!important;
}
.facebook:hover {
  transition: .5s;
  color: rgb(69, 138, 255)!important;
}
