@import url('https://fonts.googleapis.com/css?family=Mukta:400,700&display=swap');

body {
  /* background-image:url("http://i.stack.imgur.com/vhoa0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: difference; */
  margin: 0;
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Mukta', sans-serif;
}
